.Row
  margin 0
  display flex
.c1
  height 100%
  width (1*100/12)%
  float left
  margin 0
.c2
  height 100%
  width (2*100/12)%
  float left
  margin 0
.c3
  height 100%
  width (3*100/12)%
  float left
  margin 0
.c4
  height 100%
  width (4*100/12)%
  float left
  margin 0
.c5
  height 100%
  width (5*100/12)%
  float left
  margin 0
.c6
  height 100%
  width (6*100/12)%
  float left
  margin 0
.c7
  height 100%
  width (7*100/12)%
  float left
  margin 0
.c8
  height 100%
  width (8*100/12)%
  float left
  margin 0
.c9
  height 100%
  width (9*100/12)%
  float left
  margin 0
.c10
  height 100%
  width (10*100/12)%
  float left
  margin 0
.c11
  height 100%
  width (11*100/12)%
  float left
  margin 0
.c12
  height 100%
  width (12*100/12)%
  float left
  margin 0
