<nav class="column">
  <img id="profile" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/19148937_1159663367471525_3336628171149824477_n.jpg?_nc_cat=0&oh=8772277fff94b0f98c1574502deefc62&oe=5BACE7EF">

  <hr>

  <h3>Contact Info</h3>
  <b>Kousuke Takeuchi</b>
  <br>CTO - Paso Group LLC.
  <br><a href="mailto:takeuchi@paso-group.com">takeuchi@paso-group.com</a>

  <hr>

  <h3>Syndication</h3>
  Subscribe to this weblog's
  <br><a href="/feed.xml">atom feed</a>

  <hr>

  <h3>Recent Entries</h3>
</nav>
