$backgroundColor = rgb(231, 236, 238)

$textColor = rgb(74, 74, 74)
$textFontSize = 10px

$titleColor = rgb(224, 70, 62)
$titleFontSize = 12px

$linkColor = rgb(102, 158, 200)

$staticLinkColor = rgb(92, 103, 115)
$staticLinkFontSize = 12px

$containerVerticalMargin = 5vh
