@import '../consts'

.root
  background-color $backgroundColor
  margin 0
  display flex
  flex-direction column
  min-width 100vw
  min-height 100vh
.body
  margin 0
  padding 0 3vw
  background-color white
.footer
  font-size $textFontSize
  height $textFontSize
  margin 3vh 0
